html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: center; /*verticalmente com flex-direction: row*/
  justify-content: space-around; /*horizontalmente com flex-direction: row*/
}

.box {
  width: 60px;
  height: 60px;
  background-color: brown;
  margin: 5px;
}
